{% extends 'template/app.twig' %}
{% block title %}CRUDpage{% endblock %}

{% block content %}
<div class="box">

	{% include 'partials/flash.twig' %}
	<h1>Insert message into DB 
		<small>(should be signed in area)</small>
		<img class="" src="{{ base_url() }}/images/icon_exclamation.gif">
	</h1>
	<p>(the name should ofc be the name the user signed up with)</p>

	<form method="POST" action="{{ path_for('new') }}">
		<label for="name">Name</label>
		{# name ofc should be the signed-in user #}
			{% if errors.namn %}
	    	    <span class="help-block" style="color:#f20000">{{ errors.namn | first }}</span>
	    	{% endif %}<br>
		<input type="text" id="name" name="namn" placeholder="name" value="{{ old.namn }}" autocomplete="off"><br>

		<label for="textfield">Text</label>
			{% if errors.text %}
	    	    <span class="help-block" style="color:#f20000">{{ errors.text | first }}</span>
	    	{% endif %}<br>
		<textarea name="text" id="textfield" placeholder="text" rows="6" cols="60">{{ old.text }}</textarea><br>

		{{ csrf.field | raw }}

		<input type="submit" value="Send">
	</form>
	  
	<div>
	{% if querys %}
		{% for query in querys %}
			<div class="crud">
				Post ID#: {{ query.note_id }}<br>
				By: {{ query.user_namn }}<br>
				Posted: <time class="timeago" datetime="{{ query.created_at }}"></time><br>
				{% if query.updated_at %}
					Edited: <time class="timeago" datetime="{{ query.updated_at }}"></time><br>
				{% endif %}
				Content: {{ query.text }}<br>
				<a href="{{ path_for('delete', {id: query.note_id}) }}">delete</a> - 
				<a href="{{ path_for('view', {id: query.note_id}) }}">edit</a>
			</div>
		{% endfor %}
	{% endif %}

	{% if querys is empty %}
		<h1>much empty db</h1>
	{% endif %}
	</div>

</div>

{% endblock %}