{% extends 'template/app.twig' %}
{% block title %}CRUDpage{% endblock %}

{% block content %}
  
<div>
{% if querys %}
	{% for query in querys %}
		<hr>
		<div>ID: {{ query.id }}, Name: {{ query.namn }}, Time: {{ diffForHumans(query.created_at) }}</div>
		<div>Content: {{ query.text }}</div>
		<div><a href="{{ path_for('delete.post', {id: query.id}) }}">delete</a></div>
	{% endfor %}
{% endif %}

{% if querys is empty %}
	<h1>much empty db</h1>
{% endif %}
</div>

<hr>
	{% include 'partials/flash.twig' %}

<h2>Insert message into DB</h2>
<form method="POST" action="{{ path_for('crud') }}">
	<label>Name</label>
	<input type="text" name="namn" placeholder="name" value="{{ old.namn }}" autocomplete="off"><br>
		{% if errors.namn %}
    	    <span class="help-block" style="color:#f20000">{{ errors.namn | first }}</span><br>
    	{% endif %}
	<label>Text</label>
	<textarea name="text" placeholder="text" rows="5" cols="50">{{ old.text }}</textarea><br>
		{% if errors.text %}
    	    <span class="help-block" style="color:#f20000">{{ errors.text | first }}</span><br>
    	{% endif %}
	<input type="submit" value="Send">
</form>

{% endblock %}