<div>
	many cool db - <a href="{{ path_for('home') }}">Home</a>
</div><br>

<div>
{% if querys %}
	{% for query in querys %}
		<hr>
		<div>ID: {{ query.id }}, Name: {{ query.namn }}, Time: {{ diffForHumans(query.created_at) }}</div>
		<div>Content: {{ query.text }}</div>
		<div><a href="{{ path_for('delete.post', {id: query.id}) }}">delete</a></div>
	{% endfor %}
{% endif %}

{% if querys is empty %}
	<h1>much empty db</h1>
{% endif %}
</div>

<hr>
{% if flash.getMessages %}
	{% if flash.getMessages('warning') %}
		{{ flash.getMessage('warning') | first }}
	{% endif %}
	{% if flash.getMessages('success') %}
		{{ flash.getMessage('success') | first }}
	{% endif %}
{% endif %}

<h2>Insert message into DB</h2>
<form method="POST" action="/test">
	<label>Name</label>
	<input type="text" name="namn" placeholder="name" value="{{ old.namn }}" autocomplete="off"><br>
		{% if errors.namn %}
    	    <span class="help-block">{{ errors.namn | first }}</span><br>
    	{% endif %}
	<label>Text</label>
	<textarea name="text" placeholder="text">{{ old.text }}</textarea><br>
		{% if errors.text %}
    	    <span class="help-block">{{ errors.text | first }}</span><br>
    	{% endif %}
	<input type="submit" value="Send">
</form>